.services {
  padding: 30px 80px 100px 80px;
  text-align: center;
  background: white
}

.services h2 {
  font-size: 35px;
  text-align: left;
  margin-bottom: 20px;
  padding-left: 40px;
}

.services-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.services-title {
  font-size: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: -20px;
}

.product {
  position: relative;
  overflow: hidden;
  height: 100%; 
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.product:hover .overlay {
  opacity: 1;
}

.item5-desktop {
  grid-column: span 1;
  grid-row: span 2;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .services {
    padding: 30px 10px;
  }

  .services-title {
    font-size: 20px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .item5-mobile img {
  width: 100%;
  height: auto;
  }

  .item5-mobile {
    grid-column: span 2;
    grid-row: auto;
  }
  .overlay {
    font-size: 1.5rem;
  }

  .item5-desktop {
    display: none;
  }
}

/* Desktop */
@media (min-width: 769px) {
  .content-services {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .item5-desktop {
    grid-row: span 2;
  }

  .item5-mobile {
    display: none;
  }

}



