.services {
  padding: 30px 80px 100px 80px;
  text-align: center;
  background: white;
}

.services h2 {
  font-size: 35px;
  text-align: left;
  margin-bottom: 20px;
  padding-left: 40px;
}

.services-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.services-title {
  font-size: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: -20px;
}

.product {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 5px;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 1;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.product:hover .overlay {
  opacity: 0;
}

.item5-desktop {
  grid-column: span 1;
  grid-row: span 2;
}

.grid-container .product div {
  height: 94%;
  width: 94%;
}

.services-product-description {
  font-size: 15px;
  text-align: center;
}

.overlay-text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(16, 24, 40, 0.54);
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

.overlay-text:hover {
  opacity: 1;
}

.overlay-text h2 {
  font-size: 34px;
  color: white;
  text-align: center;
  padding: 10px;
}

.grid-container .add-to-cart {
  font-size: 20px;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: rgb(10, 10, 80);
  color: white;
}


/* Mobile Styles */
@media (max-width: 768px) {
  .product {
    padding: 2px;
  }
  .services {
    padding: 30px 10px;
  }

  .services-title {
    font-size: 20px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .item5-mobile img {
    width: 100%;
    height: auto;
  }

  .item5-mobile {
    grid-column: span 2;
    grid-row: auto;
  }
  .overlay {
    font-size: 1.5rem;
  }

  .item5-desktop {
    display: none;
  }
  .content-services p   {
    font-size: 10px;
    padding: 0 10px;
  }
  .overlay-text h2 {
  font-size: 20px;
  height: 10px;
  padding: 0;
  color: rgb(255, 255, 255); 
  }
  .overlay-text p {
    font-size: 10px;
    height: 20px; 
  }
  .content-services .grid-container .add-to-cart {
    height: 30px;
    font-size: 10px;
    margin: 65px auto 0 auto; 
    display: flexbox;   
  }
}

/* Desktop */
@media (min-width: 769px) {
  .content-services {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .item5-desktop {
    grid-row: span 2;
  }

  .item5-mobile {
    display: none;
  }
  .overlay-text p {
    padding: 10px;
  }
}
